* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .Login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    // background: #dcdde1;
    background: #EDF0F2;
  }
  
  .login-container {
    display: flex;
    width: 80%;
    max-width: 1100px;
    height: 70%;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  }
  .login-left {
    width: 40%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background: #fff;
  
    h2 {
      font-size: 23px;
      margin-bottom: 10px;
    }
    p{
      font-size: 10px;
      margin-bottom: 30px;
      font-family: 'Courier New', Courier, monospace;
    }
  
    .login-form {
      width: 100%;
    }
  
    .input-group {
      margin-bottom: 18px;
  
      label {
        font-size: 14px;
        margin-bottom: 6px;
        display: block;
      }
  
      input {
        width: 100%;
        padding: 10px 12px;
        border-radius: 6px;
        border: 1px solid #ccc;
        font-size: 14px;
      }
    }
  
    button {
      width: 100%;
      padding: 12px;
      border-radius: 6px;
      border: none;
      background:#101540;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
  
      &:hover {
        background: #14112c;
      }
    }
    
    #login{
      margin-top: 10px;
    }
  
    .error {
      color: red;
      font-size: 13px;
      margin-bottom: 10px;
    }
  }
  .select{
    background: #000;
  }

  .login-right {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eef1f6;
  
    .quiet-space {
      width: 100%;
      height: 100%;
      background: url('../assets/images/loginbg.webp') center no-repeat;
      background-size: cover;
      // border-radius: 6px;
      box-shadow: 0 5px 3px rgba(0, 0, 0, 0.25);
    }
  }

.flip-wrapper {
  perspective: 1000px;
}

.flip-inner {
  width: 100%;
  // height: 100%;
  min-height: 100%;
  
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.7s ease;
}

.flip-inner.flipped {
  transform: rotateY(180deg);
}

.flip-front,
.flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-back {
  transform: rotateY(180deg);
}
.flip-front,
.flip-back {
  position: absolute;
  inset: 0;              
  backface-visibility: hidden;
  background: #fff;
  // padding: 40px;
}


.input-group input,
.input-group select {
  border: 1px solid #ccc;
  // border-radius: 6px;
  transition: border 0.3s;
}

.input-group input.error,
.input-group select.error {
  border: 1px solid red;
}
