* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    line-height: 1.5;
    user-select: none;
  }
  html ,body{
      background: linear-gradient(to right, #07070c, #000000);  box-sizing: border-box;

  }